<h1>Assignment No 1</h1>

<h4>Aim : Extract the data from database using python and demonstrate various data pre-processing techniques for a given dataset.</h4>

<h3>import and export data using Pandas library </h3>

In [2]:
import numpy as np
import pandas as pd

<H3>CSV file location</H3>

In [3]:
file_path = './CSV files/goldstock.csv'
df = pd.read_csv(file_path)

<H3>Display the original data</H3>

In [4]:
print("Original Data:")
print(df)

Original Data:
      Unnamed: 0        Date   Close    Volume    Open    High     Low
0              0  2024-01-19  2029.3  166078.0  2027.4  2041.9  2022.2
1              1  2024-01-18  2021.6  167013.0  2009.1  2025.6  2007.7
2              2  2024-01-17  2006.5  245194.0  2031.7  2036.1  2004.6
3              3  2024-01-16  2030.2  277995.0  2053.4  2062.8  2027.6
4              4  2024-01-12  2051.6  250946.0  2033.2  2067.3  2033.1
...          ...         ...     ...       ...     ...     ...     ...
2506        2528  2014-01-28  1250.5   81426.0  1254.9  1261.9  1248.0
2507        2529  2014-01-27  1263.5   63419.0  1269.9  1280.1  1252.0
2508        2530  2014-01-24  1264.5   34998.0  1264.3  1273.2  1256.9
2509        2531  2014-01-23  1262.5   41697.0  1235.1  1267.1  1230.8
2510        2532  2014-01-22  1238.6   80262.0  1240.5  1243.5  1235.5

[2511 rows x 7 columns]

<h3>Check for missing values by using isnull function </h3>

In [5]:
print("\nCheck for missing values:")
print(df.isnull())

Check for missing values:
      Unnamed: 0   Date  Close  Volume   Open   High    Low
0          False  False  False   False  False  False  False
1          False  False  False   False  False  False  False
2          False  False  False   False  False  False  False
3          False  False  False   False  False  False  False
4          False  False  False   False  False  False  False
...          ...    ...    ...     ...    ...    ...    ...
2506       False  False  False   False  False  False  False
2507       False  False  False   False  False  False  False
2508       False  False  False   False  False  False  False
2509       False  False  False   False  False  False  False
2510       False  False  False   False  False  False  False

[2511 rows x 7 columns]

<h3>Check for non-missing values</h3>

In [6]:
print("\nCheck for non-missing values:")
print(df.notnull())

Check for non-missing values:
      Unnamed: 0  Date  Close  Volume  Open  High   Low
0           True  True   True    True  True  True  True
1           True  True   True    True  True  True  True
2           True  True   True    True  True  True  True
3           True  True   True    True  True  True  True
4           True  True   True    True  True  True  True
...          ...   ...    ...     ...   ...   ...   ...
2506        True  True   True    True  True  True  True
2507        True  True   True    True  True  True  True
2508        True  True   True    True  True  True  True
2509        True  True   True    True  True  True  True
2510        True  True   True    True  True  True  True

[2511 rows x 7 columns]

<h3> Drop rows with missing values</h3>

In [7]:
df_dropna = df.dropna()
print("\nData after dropping rows with missing values:")
print(df_dropna)

Data after dropping rows with missing values:
      Unnamed: 0        Date   Close    Volume    Open    High     Low
0              0  2024-01-19  2029.3  166078.0  2027.4  2041.9  2022.2
1              1  2024-01-18  2021.6  167013.0  2009.1  2025.6  2007.7
2              2  2024-01-17  2006.5  245194.0  2031.7  2036.1  2004.6
3              3  2024-01-16  2030.2  277995.0  2053.4  2062.8  2027.6
4              4  2024-01-12  2051.6  250946.0  2033.2  2067.3  2033.1
...          ...         ...     ...       ...     ...     ...     ...
2506        2528  2014-01-28  1250.5   81426.0  1254.9  1261.9  1248.0
2507        2529  2014-01-27  1263.5   63419.0  1269.9  1280.1  1252.0
2508        2530  2014-01-24  1264.5   34998.0  1264.3  1273.2  1256.9
2509        2531  2014-01-23  1262.5   41697.0  1235.1  1267.1  1230.8
2510        2532  2014-01-22  1238.6   80262.0  1240.5  1243.5  1235.5

[2511 rows x 7 columns]

<h3> Fill missing values with a specified value
</h3>

In [8]:
df_fillna = df.fillna(0)
print("\nData after filling missing values with 0:")
print(df_fillna)

Data after filling missing values with 0:
      Unnamed: 0        Date   Close    Volume    Open    High     Low
0              0  2024-01-19  2029.3  166078.0  2027.4  2041.9  2022.2
1              1  2024-01-18  2021.6  167013.0  2009.1  2025.6  2007.7
2              2  2024-01-17  2006.5  245194.0  2031.7  2036.1  2004.6
3              3  2024-01-16  2030.2  277995.0  2053.4  2062.8  2027.6
4              4  2024-01-12  2051.6  250946.0  2033.2  2067.3  2033.1
...          ...         ...     ...       ...     ...     ...     ...
2506        2528  2014-01-28  1250.5   81426.0  1254.9  1261.9  1248.0
2507        2529  2014-01-27  1263.5   63419.0  1269.9  1280.1  1252.0
2508        2530  2014-01-24  1264.5   34998.0  1264.3  1273.2  1256.9
2509        2531  2014-01-23  1262.5   41697.0  1235.1  1267.1  1230.8
2510        2532  2014-01-22  1238.6   80262.0  1240.5  1243.5  1235.5

[2511 rows x 7 columns]

<h3>Replace missing values with the mean of the column</h3>

In [9]:
df_fillna_mean = df.fillna(df.mean(numeric_only=True))
print("\nData after filling missing values with column mean:")
print(df_fillna_mean)

Data after filling missing values with column mean:
      Unnamed: 0        Date   Close    Volume    Open    High     Low
0              0  2024-01-19  2029.3  166078.0  2027.4  2041.9  2022.2
1              1  2024-01-18  2021.6  167013.0  2009.1  2025.6  2007.7
2              2  2024-01-17  2006.5  245194.0  2031.7  2036.1  2004.6
3              3  2024-01-16  2030.2  277995.0  2053.4  2062.8  2027.6
4              4  2024-01-12  2051.6  250946.0  2033.2  2067.3  2033.1
...          ...         ...     ...       ...     ...     ...     ...
2506        2528  2014-01-28  1250.5   81426.0  1254.9  1261.9  1248.0
2507        2529  2014-01-27  1263.5   63419.0  1269.9  1280.1  1252.0
2508        2530  2014-01-24  1264.5   34998.0  1264.3  1273.2  1256.9
2509        2531  2014-01-23  1262.5   41697.0  1235.1  1267.1  1230.8
2510        2532  2014-01-22  1238.6   80262.0  1240.5  1243.5  1235.5

[2511 rows x 7 columns]

<h3>Interpolate missing values</h3>

In [10]:
df_interpolate = df.infer_objects(copy=False).interpolate()
print("\nData after interpolating missing values:")
print(df_interpolate)

Data after interpolating missing values:
      Unnamed: 0        Date   Close    Volume    Open    High     Low
0              0  2024-01-19  2029.3  166078.0  2027.4  2041.9  2022.2
1              1  2024-01-18  2021.6  167013.0  2009.1  2025.6  2007.7
2              2  2024-01-17  2006.5  245194.0  2031.7  2036.1  2004.6
3              3  2024-01-16  2030.2  277995.0  2053.4  2062.8  2027.6
4              4  2024-01-12  2051.6  250946.0  2033.2  2067.3  2033.1
...          ...         ...     ...       ...     ...     ...     ...
2506        2528  2014-01-28  1250.5   81426.0  1254.9  1261.9  1248.0
2507        2529  2014-01-27  1263.5   63419.0  1269.9  1280.1  1252.0
2508        2530  2014-01-24  1264.5   34998.0  1264.3  1273.2  1256.9
2509        2531  2014-01-23  1262.5   41697.0  1235.1  1267.1  1230.8
2510        2532  2014-01-22  1238.6   80262.0  1240.5  1243.5  1235.5

[2511 rows x 7 columns]

C:\Users\MAHESH\AppData\Local\Temp\ipykernel_3636\2563756724.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df_interpolate = df.infer_objects(copy=False).interpolate()

<h3>Creating bool series True for NaN values</h3>

In [11]:
bool_series = pd.isnull(df)
print("\nBool series True for NaN values:")
print(bool_series)

Bool series True for NaN values:
      Unnamed: 0   Date  Close  Volume   Open   High    Low
0          False  False  False   False  False  False  False
1          False  False  False   False  False  False  False
2          False  False  False   False  False  False  False
3          False  False  False   False  False  False  False
4          False  False  False   False  False  False  False
...          ...    ...    ...     ...    ...    ...    ...
2506       False  False  False   False  False  False  False
2507       False  False  False   False  False  False  False
2508       False  False  False   False  False  False  False
2509       False  False  False   False  False  False  False
2510       False  False  False   False  False  False  False

[2511 rows x 7 columns]

<h3>Filtering data based on conditions</h3>

<h3>Creating a dictionary of lists</h3>

In [19]:
data_dict = {
    'Date': ['2024-01-19', '2024-01-18', '2024-01-17'],
    'Close': [2029.3, 2021.6, 2006.5],
    'Volume': [166078.0, 167013.0, 245194.0],
    'Open': [2027.4, 2009.1, 2031.7],
    'High': [2041.9, 2025.6, 2036.1],
    'Low': [2022.2, 2007.7, 2004.6],
}

print(data_dict)

{'Date': ['2024-01-19', '2024-01-18', '2024-01-17'], 'Close': [2029.3, 2021.6, 2006.5], 'Volume': [166078.0, 167013.0, 245194.0], 'Open': [2027.4, 2009.1, 2031.7], 'High': [2041.9, 2025.6, 2036.1], 'Low': [2022.2, 2007.7, 2004.6]}

<h3>Creating a dataframe using the dictionary</h3>

In [25]:
print(df.columns)
print(df.head())
not_null_df = df[df.notnull()]
print("\nData after filtering based on 'CorrectColumnName' not being null:")
print(not_null_df)

Index(['Date', 'Close', 'Volume', 'Open', 'High', 'Low'], dtype='object')
         Date   Close    Volume    Open    High     Low
0  2024-01-19  2029.3  166078.0  2027.4  2041.9  2022.2
1  2024-01-18  2021.6  167013.0  2009.1  2025.6  2007.7
2  2024-01-17  2006.5  245194.0  2031.7  2036.1  2004.6

Data after filtering based on 'CorrectColumnName' not being null:
         Date   Close    Volume    Open    High     Low
0  2024-01-19  2029.3  166078.0  2027.4  2041.9  2022.2
1  2024-01-18  2021.6  167013.0  2009.1  2025.6  2007.7
2  2024-01-17  2006.5  245194.0  2031.7  2036.1  2004.6

<h3>Using notnull() function</h3>

In [26]:
print(df.columns)
print(df.head())
not_null_df = df[df['Close'].notnull()]
print("\nData after filtering based on 'Close' not being null:")
print(not_null_df)

Index(['Date', 'Close', 'Volume', 'Open', 'High', 'Low'], dtype='object')
         Date   Close    Volume    Open    High     Low
0  2024-01-19  2029.3  166078.0  2027.4  2041.9  2022.2
1  2024-01-18  2021.6  167013.0  2009.1  2025.6  2007.7
2  2024-01-17  2006.5  245194.0  2031.7  2036.1  2004.6

Data after filtering based on 'Close' not being null:
         Date   Close    Volume    Open    High     Low
0  2024-01-19  2029.3  166078.0  2027.4  2041.9  2022.2
1  2024-01-18  2021.6  167013.0  2009.1  2025.6  2007.7
2  2024-01-17  2006.5  245194.0  2031.7  2036.1  2004.6

<h3>Filling a missing value in a specific column</h3>

In [27]:
df['Volume'].fillna(0, inplace=True)
print("\nData after filling missing value in 'Volume' column:")
print(df)
df['Volume'].fillna(df['Volume'].mean(), inplace=True)

Data after filling missing value in 'Volume' column:
         Date   Close    Volume    Open    High     Low
0  2024-01-19  2029.3  166078.0  2027.4  2041.9  2022.2
1  2024-01-18  2021.6  167013.0  2009.1  2025.6  2007.7
2  2024-01-17  2006.5  245194.0  2031.7  2036.1  2004.6