<h1>Assignment No 1</h1>

<h4>Aim : Extract the data from database using python and demonstrate various data pre-processing techniques for a given dataset.</h4>

<h3>import and export data using Pandas library </h3>

In [24]:
import numpy as np
import pandas as pd

<H3>CSV file location</H3>

In [51]:
file_path = './CSV files/Data.csv'
df = pd.read_csv(file_path)

<H3>Display the original data</H3>

In [25]:
print("Original Data:")
print(df)

Original Data:
   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

<h3>Check for missing values by using isnull function </h3>

In [50]:
print("\nCheck for missing values:")
print(df.isnull())

Check for missing values:
   Country    Age  Salary  Purchased
0    False  False   False      False
1    False  False   False      False
2    False  False   False      False
3    False  False   False      False
4    False  False   False      False
5    False  False   False      False
6    False   True   False      False
7    False  False   False      False
8    False  False   False      False
9    False  False   False      False

<h3>Check for non-missing values</h3>

In [27]:
print("\nCheck for non-missing values:")
print(df.notnull())

Check for non-missing values:
   Country    Age  Salary  Purchased
0     True   True    True       True
1     True   True    True       True
2     True   True    True       True
3     True   True    True       True
4     True   True   False       True
5     True   True    True       True
6     True  False    True       True
7     True   True    True       True
8     True   True    True       True
9     True   True    True       True

<h3> Drop rows with missing values</h3>

In [28]:
df_dropna = df.dropna()
print("\nData after dropping rows with missing values:")
print(df_dropna)

Data after dropping rows with missing values:
   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
5   France  35.0  58000.0       Yes
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

<h3> Fill missing values with a specified value
</h3>

In [30]:
df_fillna = df.fillna(0)
print("\nData after filling missing values with 0:")
print(df_fillna)

Data after filling missing values with 0:
   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      0.0       Yes
5   France  35.0  58000.0       Yes
6    Spain   0.0  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

<h3>Replace missing values with the mean of the column</h3>

In [32]:
df_fillna_mean = df.fillna(df.mean(numeric_only=True))
print("\nData after filling missing values with column mean:")
print(df_fillna_mean)

Data after filling missing values with column mean:
   Country        Age        Salary Purchased
0   France  44.000000  72000.000000        No
1    Spain  27.000000  48000.000000       Yes
2  Germany  30.000000  54000.000000        No
3    Spain  38.000000  61000.000000        No
4  Germany  40.000000  63777.777778       Yes
5   France  35.000000  58000.000000       Yes
6    Spain  38.777778  52000.000000        No
7   France  48.000000  79000.000000       Yes
8  Germany  50.000000  83000.000000        No
9   France  37.000000  67000.000000       Yes

<h3>Interpolate missing values</h3>

In [34]:
df_interpolate = df.infer_objects(copy=False).interpolate()
print("\nData after interpolating missing values:")
print(df_interpolate)

Data after interpolating missing values:
   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0  59500.0       Yes
5   France  35.0  58000.0       Yes
6    Spain  41.5  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

C:\Users\MAHESH\AppData\Local\Temp\ipykernel_17132\2563756724.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df_interpolate = df.infer_objects(copy=False).interpolate()

<h3>Creating bool series True for NaN values</h3>

In [45]:
bool_series = pd.isnull(df)
print("\nBool series True for NaN values:")
print(bool_series)

Bool series True for NaN values:
   Country    Age  Salary  Purchased
0    False  False   False      False
1    False  False   False      False
2    False  False   False      False
3    False  False   False      False
4    False  False   False      False
5    False  False   False      False
6    False   True   False      False
7    False  False   False      False
8    False  False   False      False
9    False  False   False      False

<h3>Filtering data based on conditions</h3>

In [36]:
filtered_data = df[df['Purchased'] == 'Yes']
print("\nFiltered data where 'Purchased' is 'Yes':")
print(filtered_data)

Filtered data where 'Purchased' is 'Yes':
   Country   Age   Salary Purchased
1    Spain  27.0  48000.0       Yes
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
7   France  48.0  79000.0       Yes
9   France  37.0  67000.0       Yes

<h3>Creating a dictionary of lists</h3>

In [38]:
data_dict = {
    'Country': ['France', 'Spain', 'Germany'],
    'Age': [25, 30, 35],
    'Salary': [60000, 55000, 70000],
    'Purchased': ['Yes', 'No', 'Yes']
}

<h3>Creating a dataframe using the dictionary</h3>

In [41]:
new_df = pd.DataFrame(data_dict)
print("\nNew DataFrame created using a dictionary:")
print(new_df)

New DataFrame created using a dictionary:
   Country  Age  Salary Purchased
0   France   25   60000       Yes
1    Spain   30   55000        No
2  Germany   35   70000       Yes

<h3>Using notnull() function</h3>

In [42]:
not_null_df = df[df['Age'].notnull()]
print("\nData after filtering based on 'Age' not being null:")
print(not_null_df)

Data after filtering based on 'Age' not being null:
   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

<h3>Filling a missing value in a specific column</h3>

In [43]:
df['Salary'].fillna(60000, inplace=True)
print("\nData after filling missing value in 'Salary' column:")
print(df)

Data after filling missing value in 'Salary' column:
   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0  60000.0       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes